.comment-hight {
  height: calc(100vh - 6rem);
}

.comment-hight::-webkit-scrollbar {
  display: none;
}

.sidebar-hight {
  height: calc(100vh - 2.75rem);
}

.sidebar-hight::-webkit-scrollbar {
  display: none;
}

.sidebar-active {
  background-color: rgba(251, 146, 60, 0.9);
  border-radius: 10px;
  color: black;
  transition: all 0.3s;
}

.sidebar-active:hover {
  color: white;
}

.submenu {
  height: auto;
  transition: all 0.3s;
}

.grow-flex {
  flex-grow: 4;
}

.card1 {
  border-radius: 20px;
  background-color: #ff9e6d;
  transition: all 0.3s;
  scale: 0.98;
  outline: none;
}

.card1:hover {
  border-radius: 20px;
  background: linear-gradient(145deg, #ff9e6d, #e6855c);
  box-shadow: 10px 10px 20px #99593d, -5px -5px 10px #ffcf8f;
  scale: 1;
  outline: none;
}

.card2 {
  scale: 0.98;
  background-color: #57d5e6;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card2:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #57d5e6, #68feff);
  box-shadow: 10px 10px 20px #34808a, -5px -5px 10px #7affff;
  outline: none;
}

.card3 {
  scale: 0.98;
  background-color: #6dffac;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card3:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #6dffac, #5ce691);
  box-shadow: 10px 10px 20px #3d9961, -5px -5px 10px #8fffe1;
  outline: none;
}

.card4 {
  scale: 0.98;
  background-color: #ff6dc5;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card4:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #ff6dc5, #e65ca6);
  box-shadow: 10px 10px 20px #993d6e, -5px -5px 10px #ff8fff;
  outline: none;
}

.card5 {
  scale: 0.98;
  background-color: #ff6d6d;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card5:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #ff6d6d, #e65c5c);
  box-shadow: 10px 10px 20px #993d3d, -5px -5px 10px #ff8f8f;
  outline: none;
}

.card6 {
  scale: 0.98;
  background-color: #9492ff;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card6:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #9492ff, #8583e6);
  box-shadow: 10px 10px 20px #595899, -5px -5px 10px #cfccff;
  outline: none;
}

.card7 {
  scale: 0.98;
  background-color: #f5f583;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card7:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffff89, #e6d673);
  box-shadow: 10px 10px 20px #998f4d, -5px -5px 10px #ffffb3;
  outline: none;
}

.card8 {
  scale: 0.98;
  background-color: #e2acff;
  border-radius: 20px;
  transition: all 0.3s;
  outline: none;
}

.card8:hover {
  scale: 1;
  border-radius: 20px;
  background: linear-gradient(145deg, #e2acff, #b378db);
  box-shadow: 10px 10px 20px #886799, -5px -5px 10px #fff1ff;
  outline: none;
}

.hight-screen::-webkit-scrollbar {
  display: none;
}

.notification {
  display: none;
}

.staff img {
  width: 200px;
}/*# sourceMappingURL=app.css.map */